.u-mb-small {
  margin-bottom: 1rem !important;
}

.u-mb-medium {
  margin-bottom: 3rem !important;
}

.u-mb-large {
  margin-bottom: 5rem !important;
}

.u-mb-big {
  margin-bottom: 8rem !important;
}

.highlight {
  color: var(--color-primary);
}

.u-text-cnt {
  text-align: center;
}

.handwrite {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-grey-dark-3);
}
